<html>
<%- include("partial/header") %>
<body>
    <%if(service.length>0){%>
    <%service.map(service=>{%>
        <li><%-service%></li>
   <% })}else{%>
      <p> no service available</p>
    <%}%>
</body>
</html>
