input{
   height: 30px;
   width: 300px;
   margin-bottom: 20px;
   color:black;
}

input[type="submit"]{
    background-color:grey;
    color:black;
    border:none;
    cursor: pointer;
}

textarea{
width: 300px;
margin-bottom: 20px;
color:black;
}
